<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <a class="m-3" th:href="@{/registration}"> to Registration</a>
    <div th:if= "${errorMessage != null}">
        <div style="color:red; font-weight: bold; margin: 30px 0px;">
            <div th:text="${errorMessage}"></div>
        </div>
    </div>
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <label for="username">Email</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Email" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
