<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container mt-3">
    <div class="row">
        <h4>Forum job4j</h4>
    </div>
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <div class="mb-3" th:if="${#strings.contains(#authentication.getAuthorities(), 'write')}">
                <a href="#" th:href="@{/post/new}" th:text="${'Create a new post'}"></a>
            </div>
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Theme</th>
                    <th>Created</th>
                    <div th:if="${#strings.contains(#authentication.getAuthorities(), 'write')}">
                        <th th:text="${'Edit'}"/>
                    </div>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pst : ${posts}">
                    <td th:text="${pst.name}">Post description</td>
                    <td th:text="${pst.created.getTime().toLocaleString()}">Post description</td>
                    <div th:if="${#strings.contains(#authentication.getAuthorities(), 'write')}">
                        <td><a href="#" th:href="@{/post/{id}(id=${pst.id})}"><button>Edit</button></a></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>